<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer</title>
</head>
<body>


<h1>Welcome to Customer page</h1>

<form action="purchasedItem">
    <p>Item Code<br></p>
    <input type="number" name="id"><br>
    <p>Quantity<br></p>
    <input type="number" name="quantity"><br>
    <input type="submit"><br>
</form>
<p>Check Out Details<br></p>
<div th:text="${tagtwo}">

</div>



</body>
</html>