<!DOCTYPE html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Grocery</title>
</head>

<body>
<h1>Add product to Grocery</h1>

<form action="addProduct">
    <p>Item Code<br></p>
    <input type="number" name="id"><br>
    <p>Item Name<br></p>
    <input type="text" name="name"><br>

    <p>Type of product</p>
    <input type="radio" name="type" value="Eatable">Eatable
    <br>
    <input type="radio" name="type" value="Daily Usable">Daily Usable
    <br>
    <input type="radio" name="type" value="Cosmetic">Cosmetic
    <br>
    <p>Price<br></p>
    <input type="number" name="price">
    <br>
    <input type="submit"><br>
</form>
<body>Given product id to get Product details</body>

<form action="getProduct">
    <p>Item Code<br></p>
    <input type="number" name="id"><br>
    <input type="submit"><br>
</form>
<p th:text="${specifictag}"> </p>

</body>
</html>